dataset/
variables/
__pycache__/
models/
logs/
results/
train_gradaccum.py
checkpoint.py

data/
checkpoints/
*.h5
*.ckpt
*.pth

# Python cache & build files
*.pyc
*.pyo
*.pyd
*.egg-info/
*.so

# Conda / virtual environments
shared_envs/
.env
venv/
env/

# Jupyter notebook artifacts
.ipynb_checkpoints/

# IDE/editor config
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Explicitly ignore large model files
EE8204-ResUNet/Best ResUNet.hdf5
EE8204-ResUNet/previous_models/

EE8204-ResUNet/Road Extraction by Deep Residual U-Net.pdf
EE8204-ResUNet/images/finalresults/
EE8204-ResUNet/images/groundtruths/